.race-display {
    text-align: center;
}


.selected-car-track{
    display: flex;
    justify-content: space-evenly;

}

.display-selected{
    background-color: lightgreen;
    width: 35vh;
    height: 20vh;
    margin-top: 15px;
}



.race-progress {
    height: 50vh;
    background-color: lightblue;
    width: 90%;
    margin-left: 5%;
}
